In [1]:
# Import Desired Library:
import pandas as pd
import numpy as np

In [2]:
# uploading the Dataset.
train=pd.read_parquet("train.parquet")
test=pd.read_parquet("test.parquet")

# Cleaning the Train Dataset.

In [3]:
#View the top 5 datapoints of dataset.
train.head()

                            Patient-Uid       Date           Incident
0  a0db1e73-1c7c-11ec-ae39-16262ee38c7f 2019-03-09  PRIMARY_DIAGNOSIS
1  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f 2015-05-16  PRIMARY_DIAGNOSIS
3  a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f 2018-01-30     SYMPTOM_TYPE_0
4  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2015-04-22        DRUG_TYPE_0
8  a0dc9543-1c7c-11ec-bb63-16262ee38c7f 2016-06-18        DRUG_TYPE_1

In [4]:
# dROPPING THE DATE AS IT DOESNOT HAVE SIGNIFICANT ROLE.
train1=train.drop('Date',axis=1)

In [5]:
# Viewing the dataset
train1.head(2)

                            Patient-Uid           Incident
0  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS
1  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f  PRIMARY_DIAGNOSIS

In [6]:
# Doing OneHotEncoding:
train_data=pd.get_dummies(train['Incident'], drop_first=True)

In [7]:
# Concating the datasets.
train2=pd.concat([train1,train_data],axis=1)

In [8]:
# Dropping the Incident feature as it now Encoded.
train3=train2.drop('Incident',axis=1)

In [9]:
# Viewing the newdataset
train3.head(2)

,Patient-Uid,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
0,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Viewing the Values of Traget Variable.
train3['TARGET DRUG'].value_counts()

0    3153650
1      67218
Name: TARGET DRUG, dtype: int64

As here the Data is Imbalanced so we will now balance the dataset.

# Balancing the training dataset

In [11]:
# Extracting the target 0 values
train0=train3[train3['TARGET DRUG']==0]

In [12]:
# Extracting the target 0 values
train01=train3[train3['TARGET DRUG']==1]

In [13]:
# sampling the dataset.
train00=train0.sample(n=67218)

In [14]:
# Grouping the dataset of target 0 by patient uid
train00_data=train00.groupby(by='Patient-Uid',as_index=False).mean()

In [15]:
#Viewing the data
train00_data.head(2)

,Patient-Uid,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
0,a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# changeing the datatype of target value.
train00_data['TARGET DRUG']=train00_data['TARGET DRUG'].astype(int)

In [17]:
# viewing the dataset.
train00_data.head(2)

,Patient-Uid,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
0,a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
# Grouping the dataset of target 1 by patient uid
train01_data=train01.groupby(by='Patient-Uid',as_index=False).mean()

In [68]:
# viewing the dataset.
train01_data.head(2)

,Patient-Uid,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
0,a0e9c384-1c7c-11ec-81a0-16262ee38c7f,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,a0e9c3b3-1c7c-11ec-ae8e-16262ee38c7f,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [71]:
train01_data1=train01_data.drop('Patient-Uid',axis=1)

In [73]:
train01_data01=train01_data1.apply(lambda x:x.astype(float))

In [79]:
train01_data11=pd.concat([pd.DataFrame(train01_data['Patient-Uid']),train01_data01],axis=1)

In [80]:
# Concating the data to form new dataset for taining purspose.
Train_data=pd.concat([train00_data,train01_data11],axis=0)

In [81]:
# splitting the dataset to independent and dependent variable
x_train=Train_data.drop(['TARGET DRUG','DRUG_TYPE_18'],axis=1)

In [82]:
x_train1=x_train.drop('Patient-Uid',axis=1)

In [83]:
# splitting the dataset to independent and dependent variable
y_train=Train_data['TARGET DRUG']

# cleaning the Test Dataset.

In [24]:
#View the top 5 datapoints of dataset
test.head()

                            Patient-Uid       Date        Incident
0  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2016-12-08  SYMPTOM_TYPE_0
1  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-10-17     DRUG_TYPE_0
2  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-12-01     DRUG_TYPE_2
3  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-12-05     DRUG_TYPE_1
4  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-11-04  SYMPTOM_TYPE_0

In [25]:
# dROPPING THE DATE AS IT DOESNOT HAVE SIGNIFICANT ROLE.
test1=test.drop('Date',axis=1)

In [26]:
# Viewing the dataset
test1.head(2)

                            Patient-Uid        Incident
0  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f  SYMPTOM_TYPE_0
1  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f     DRUG_TYPE_0

In [27]:
# Doing OneHotEncoding:
test_data=pd.get_dummies(test['Incident'],drop_first=True)

In [28]:
# Concating the datasets.
test2=pd.concat([test1,test_data],axis=1)

In [29]:
# Dropping the Incident feature as it now Encoded.
test3=test2.drop('Incident',axis=1)

In [30]:
# Viewing the newdataset
test3.head(2)

,Patient-Uid,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_6,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
0,a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
test3.shape

(1065524, 55)

In [100]:
# Grouping the dataset of test by patient uid.
Test_data=test3.groupby('Patient-Uid',as_index=False).mean()

In [101]:
# Viewing the Dataset.
Test_data.sample(4)

,Patient-Uid,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_6,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
7783,a0ffb11c-1c7c-11ec-894f-16262ee38c7f,0.218391,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0
8257,a1000afb-1c7c-11ec-be64-16262ee38c7f,0.112335,0.0,0.002203,0.0,0.0,0.0,0.0,0.0,0.0,...,0.002203,0.0,0.0,0.0,0.002203,0.006608,0.000000,0.004405,0.0,0.0
5515,a0fe0541-1c7c-11ec-a636-16262ee38c7f,0.225000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.012500,0.0,0.0,0.0,0.037500,0.062500,0.037500,0.000000,0.0,0.0
4324,a0fd218c-1c7c-11ec-a555-16262ee38c7f,0.276316,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.026316,0.013158,0.000000,0.0,0.0

In [102]:
Test_data.shape

(11482, 55)

In [103]:
x_Test_data=Test_data.drop('Patient-Uid',axis=1)

In [104]:
x_Test_data.shape

(11482, 54)

# Modeling the train Dataset

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [84]:
lr=LogisticRegression()

In [85]:
model_train=lr.fit(x_train1,y_train)

In [86]:
predict_train=lr.predict(x_train1)

In [87]:
score=accuracy_score(predict_train,y_train)

In [88]:
score

0.9755715339233039

In [105]:
predict_test=lr.predict(x_Test_data).astype(int)

In [106]:
data=pd.DataFrame(predict_test)

In [110]:
data1=pd.concat([pd.DataFrame(Test_data['Patient-Uid']),data],axis=1)

In [112]:
data1.to_excel("Sample_submission.xlsx")

In [113]:
data1.to_csv("Sample_submission1.csv")